.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button {
    display: flex;
    margin: 20px;
}

.button > div {
    padding: 10px;
    margin: 5px;
    background-color: green;
    border-radius: 50px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 5px 10px #90ee90;
    overflow: hidden;

}